
<div class="container alert alert-secondary" style="width: 750px;">

    <div class="col-sm-6 offset-sm-3">
        
        
        <ul class="nav nav-pills">
                <li class="active"><h2  align="center" routerLink="/login"  routerLinkActive="active"> Login </h2></li>
                &nbsp;&nbsp;
                <li class="active"><h2  align="center" routerLink="/register"  routerLinkActive="active"> Registration </h2></li>  
               
        </ul>

        
    </div>
    <alert></alert>
    <router-outlet></router-outlet>
</div>
